/*<editor-fold desc="Global Styles">*/
/*====================================*/
/*========== GLOBAL STYLES ===========*/
/*====================================*/

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.space-wrapper {
    /*min-width: 100vw;*/
    min-height: 100%;
    margin-bottom: -50px; /* negative value of footer height */
    padding-bottom: 50px; /* footer height + needed padding */
}

.flex-center {
    display: flex;
    align-items: center;
}

.text-dark {
    color: #555;
}

.light-danger {
    background: rgba(248, 222, 222, 0.73);
}

.light-warning {
    background: rgba(251, 240, 227, 0.83);
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Header & Footer Styles">*/
/* Navigation bar styles */
.navbar-default {

}

/* Small devices and above */
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li {
        height: 50px;
        background: #e7e7e7;
    }

    .navbar-default .navbar-nav > li > a {
        transition: 0.1s;
        background: #f8f8f8;
    }

    .navbar-default .navbar-nav > li > a:hover {
        transition: 0.3s;
        background-color: #e7e7e7;
        color: #555;
    }

    .navbar-default .navbar-nav > .active > a {
        height: calc(100% - 4px);
        background-color: #f8f8f8;
        color: #777;
    }
}

/**************************************/

/* Footer section styles */
footer {
    height: 50px;
    background-color: #393E41;
    border-top: 1px solid #25282A;
    color: #cdcccc;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Homepage">*/
/*====================================*/
/*============ HOME PAGE =============*/
/*====================================*/

/* Cover photo styles*/
.jumbotron {
    margin-top: -20px; /* to negate the navbar margin */
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.jumbotron .container > h1, .jumbotron .container > h3 {
    color: #e5e5e5;
    text-shadow: 3px 3px 5px #000;
}

.jumbotron .container > h1 > strong {
    font-size: 150%;
}

.jumbotron .container > h3 {
    margin-bottom: 60px;
}

.jumbotron .has-feedback .form-control {
    padding-left: 42.5px;
    padding-right: 16px;
}

.jumbotron .form-control-feedback {
    left: 0;
    z-index: 3;
}

/**************************************/

/* Features styles*/
.feature-item p {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 200%;
    font-weight: lighter;
}

.feature-item a {
    margin-top: 30px;
}

/* Medium devices and above */
@media (min-width: 992px) {
    .feature-item {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .feature-item h1 {
        margin-top: 0;
    }
}

/* Small devices and below */
@media (max-width: 991px) {
    .feature-item h1 {
        padding-bottom: 30px;
        text-align: center;
    }

    .feature-item .btn {
        margin-bottom: 30px;
    }
}

/**************************************/

/* Quotes styles */
.quotes-section {
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.quote-image {
    width: 190px;
    height: auto;
}

.quotes-section blockquote {
    border-left: 0;
    position: relative;
    padding: 0;
}

.quotes-section blockquote i {
    position: absolute;
    top: 5px;
    color: #1f648b;
    font-size: 20px;
}

.quotes-section blockquote p {
    display: inline-block;
    padding-left: 60px;
}

.quotes-section h3 {
    color: #1f648b;
    padding-left: 60px;
    margin-top: 35px;
}

.carousel-indicators li {
    border-color: #2e6da4;
}

.carousel-indicators li.active {
    border-color: #2e6da4;
    background-color: #337ab7;
}

.item {
    margin-top: 50px;
    margin-bottom: 100px;
}

@media (max-width: 991px) {
    .quotes-section blockquote {
        margin-top: 35px;
    }
}

/**************************************/

/* Sponsors styles */
.sponsors-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #eeeeee;
}

.sponsors-section h1 {
    margin-bottom: 60px;
}

.sponsors-section img {
    max-width: 150px;
    max-height: 150px;
    -moz-box-shadow: 0 0 1px 1px #757575;
    -webkit-box-shadow: 0 0 1px 1px #757575;
    box-shadow: 0 0 1px 1px #757575;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Login Page">*/
/*====================================*/
/*============ LOGIN PAGE ============*/
/*====================================*/

.login-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.login-page .panel-default {
    background: rgba(255, 255, 255, 0.85);
}

.login-page .container h1, .login-page .container h3 {
    color: #e5e5e5;
    text-shadow: 3px 3px 5px #000;
}

.login-page .container h1 {
    /*margin-top: 0;*/
}

.login-page .container h1 > strong {
    /*font-size: 250%;*/
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Media Queries">*/
/*====================================*/
/*========== MEDIA QUERIES ===========*/
/*====================================*/

/* Super extra large devices  */
@media (min-width: 2000px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/xxlg.jpg");
    }

    /* Login page cover photo styles*/
    .login-page {
        background-image: url("/images/cover/2/xxlg.jpg");
    }
}

/**************************************/

/* Extra large devices */
@media (min-width: 1500px) and (max-width: 1999px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/xlg.jpg");
    }

    /* Login page cover photo styles*/
    .login-page {
        background-image: url("/images/cover/2/xlg.jpg");
    }
}

/**************************************/

/* Large devices */
@media (min-width: 1200px) and (max-width: 1499px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/lg.jpg");
    }

    /* Login page cover photo styles*/
    .login-page {
        background-image: url("/images/cover/2/lg.jpg");
    }
}

/**************************************/

/* Medium devices */
@media (min-width: 992px) and (max-width: 1199px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/md.jpg");
    }

    /* Login page cover photo styles*/
    .login-page {
        background-image: url("/images/cover/2/md.jpg");
    }
}

/**************************************/

/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/sm.jpg");
    }

    /* Login page cover photo styles*/
    .login-page {
        background-image: url("/images/cover/2/sm.jpg");
    }
}

/**************************************/

/* Extra small devices */
@media (min-width: 480px) and (max-width: 767px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/xs.jpg");
    }

    /* Login page cover photo styles*/
    .login-page {
        background-image: url("/images/cover/2/xs.jpg");
    }
}

/**************************************/

/* Super extra small devices */
@media (max-width: 479px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/xxs.jpg");
    }

    /* Login page cover photo styles*/
    .login-page {
        background-image: url("/images/cover/2/xxs.jpg");
    }
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Problems Page">*/
/*====================================*/
/*========== PROBLEMS PAGE ===========*/
/*====================================*/

.problems-table-container {
    width: 99%
}

.problems-table-hover > tbody > tr:hover {

}

.problems-table-head {
    text-align: center;
}

.problems-table-name-head {
    text-align: center;
    width: 33%;
}

.problems-table-head,
.problems-table-name-head {
    position: relative;
}

.problems-table-sorting-arrow-desc {
    position: absolute;
    right: 10%;
    top: 25%;
}

.problems-table-sorting-arrow-asc {
    position: absolute;
    right: 10%;
    top: 40%;
}

.td-problems {
    text-align: center;
}

.tr-runtimeerror {
    background-color: #b78ffc;

}

.tr-wronganswer {
    background-color: #f94e48;
}

.tr-accepted {
    background-color: #3af466;
}

.tr-tle {
    background-color: #fcf92f;
}

.tr-notsolved {
    background-color: #f8f7f9;
}

.td-problems-badge {
    transition: 0.5s;
}

.td-problems-badge:hover {
    transition: 0.5s;
    color: #ffff91;
}

.details {
    font-size: 10px;
    border: 1px solid #ff7473;
    padding: 2px 6px;
    border-radius: 5px;
    background: #ff7473;
    margin-left: 12px;
}

.filters-table-container {
    width: 99%;
}

.filters-table-container h4 {
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.filters-checkbox-div {
    display: inline-block;
}

.tags-table-container {
    width: 99%;
}

/*New search*/
#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="VisibilityRadioGroup">*/
/*====================================*/
/*==== Visibility RADIO BUTTONS ======*/
/*====================================*/

.visibility-div ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.visibility-div ul li {
    color: #AAAAAA;
    display: inline;
    position: relative;
    float: left;
    width: 49%;
    height: auto;
}

.visibility-div ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.visibility-div ul li label {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 1em;
    padding: 0 25px 0px 40px;
    margin: 8px auto 0 auto;
    height: 20px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.visibility-div ul li:hover label {
    color: #222222;
}

.visibility-div ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 21px;
    width: 21px;
    top: 7px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.visibility-div ul li:hover .check {
    border: 5px solid #222222;
}

.visibility-div ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 7px;
    width: 7px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.visibility-div input[type=radio]:checked ~ .check {
    border: 5px solid #0D964B;
}

.visibility-div input[type=radio]:checked ~ .check::before {
    background: #0D964B;
}

.visibility-div input[type=radio]:checked ~ label {
    color: #0D964B;
}

/**************************************/
/*</editor-fold>*/
