/*<editor-fold desc="Global Styles">*/
/*====================================*/
/*========== GLOBAL STYLES ===========*/
/*====================================*/

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.space-wrapper {
    /*min-width: 100vw;*/
    min-height: 100%;
    margin-bottom: -50px; /* negative value of footer height */
    padding-bottom: 50px; /* footer height + needed padding */
}

.flex-center {
    display: flex;
    align-items: center;
}

.animated {
    opacity: 1 !important;
}

.text-dark {
    color: #555;
}

.light-danger {
    background: rgba(248, 222, 222, 0.73);
}

.light-warning {
    background: rgba(251, 240, 227, 0.83);
}

.margin-5px {
    margin: 5px;
}

.margin-30px {
    margin: 30px;
}

.break-word {
    word-break: break-all;
    word-wrap: break-word;
}

.horizontal-scroll {
    overflow-x: auto;
    width: 100%;
}

.dark-red {
    color: #be191e;
}

.page-distinguishing-element {
    display: none;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Header & Footer Styles">*/

/* Notifications styles */
.notifications {
    max-height: 250px;
    overflow-y: auto;
}

.unread {
    border-left: 5px rgba(117, 117, 117, 0.33) solid;
}

.read {
    border-left: 5px transparent solid;
}

.notification-container {
    min-width: 300px;
    position: relative;
}

.notification-delete {
    position: absolute;
    display: none;
    top: 6px;
    right: 10px;
    color: rgba(167, 167, 167, 0.65);
    cursor: pointer;
}

.notification-container:hover > .notification-delete {
    display: inline-block;
}

.notification-delete:hover {
    color: #717171;
}

.notification-container a {
    white-space: normal !important;
}

.notification-text {
    display: inline-block;
    width: 80%;
    margin-left: 5px;
}

.notification-resource-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 150px;
}

.notification-time {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: rgba(39, 101, 124, 0.49);
}

.notification-icon {
    display: inline-block;
    width: 15%;
    float: left;
}

.notification-icon > i {
    font-size: 30px;
    margin-top: 5px;
}

/* Navigation bar styles for small devices and above */
@media (min-width: 768px) {
    .navbar-default .navbar-nav > li {
        height: 50px;
        background: #e7e7e7;
    }

    .navbar-default .navbar-nav > li > a {
        transition: 0.1s;
        background: #f8f8f8;
    }

    .navbar-default .navbar-nav > li > a:hover {
        transition: 0.3s;
        background-color: #e7e7e7;
        color: #555;
    }

    .navbar-default .navbar-nav > .active > a {
        height: calc(100% - 4px);
        background-color: #f8f8f8;
        color: #777;
    }

    .notifications-text {
        display: none;
    }
}

@media (max-width: 768px) {
    .notifications-text {
        display: inline-block;
    }

    .notifications-icon {
        display: none;
    }

    .notification-icon > i {
        font-size: 22px;
    }

    .notification-text {
        display: inline-block;
        width: 88%;
    }

    .notification-icon {
        width: 10%;
    }

}

/**************************************/

/* Footer section styles */
footer {
    height: 50px;
    background-color: #393E41;
    border-top: 1px solid #25282A;
    color: #cdcccc;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Homepage">*/
/*====================================*/
/*============ HOME PAGE =============*/
/*====================================*/

/* Cover photo styles*/
.home-cover {
    margin-top: -20px; /* to negate the navbar margin */
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-cover .container > h1,
.home-cover .container > h3 {
    color: #e5e5e5;
    text-shadow: 3px 3px 5px #000;
}

.home-cover .container > h1 > strong {
    font-size: 150%;
}

.home-cover .container > h3 {
    margin-bottom: 60px;
}

/*.home-cover .has-feedback .form-control {*/
/*padding-left: 42.5px;*/
/*padding-right: 16px;*/
/*}*/

/*.home-cover .form-control-feedback {*/
/*left: 0;*/
/*z-index: 3;*/
/*}*/

/**************************************/

/* Features styles*/
.js-wp-2 {
    opacity: 0;
}

.feature-item p {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 200%;
    font-weight: 300;
}

.feature-item a {
    margin-top: 30px;
}

/* Medium devices and above */
@media (min-width: 992px) {
    .feature-item {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .feature-item h1 {
        margin-top: 0;
    }
}

/* Small devices and below */
@media (max-width: 991px) {
    .feature-item h1 {
        padding-bottom: 30px;
        text-align: center;
    }

    .feature-item .btn {
        margin-bottom: 30px;
    }
}

/**************************************/

/* Quotes styles */
.js-wp-3 {
    opacity: 0;
}

.quotes-section {
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.quote-image {
    width: 190px;
    height: auto;
}

.quotes-section blockquote {
    border-left: 0;
    position: relative;
    padding: 0;
}

.quotes-section blockquote i {
    position: absolute;
    top: 5px;
    color: #1f648b;
    font-size: 20px;
}

.quotes-section blockquote p {
    display: inline-block;
    padding-left: 60px;
}

.quotes-section h3 {
    color: #1f648b;
    padding-left: 60px;
    margin-top: 35px;
}

.carousel-indicators li {
    border-color: #2e6da4;
}

.carousel-indicators li.active {
    border-color: #2e6da4;
    background-color: #337ab7;
}

.item {
    margin-top: 50px;
    margin-bottom: 100px;
}

@media (max-width: 991px) {
    .quotes-section blockquote {
        margin-top: 35px;
    }
}

/**************************************/

/* Sponsors styles */
.js-wp-4 {
    opacity: 0;
}

.sponsors-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #eeeeee;
}

.sponsors-section h1 {
    margin-bottom: 60px;
}

.sponsors-section img {
    max-width: 150px;
    max-height: 150px;

    /* Transition time */
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;

    /* Shadow */
    -moz-box-shadow: 0 0 1px 1px #757575;
    -webkit-box-shadow: 0 0 1px 1px #757575;
    box-shadow: 0 0 1px 1px #757575;
}

.sponsors-section img:hover {
    /* Transition time */
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    /* Shadow */
    -moz-box-shadow: 0 0 10px 3px #757575;
    -webkit-box-shadow: 0 0 10px 3px #757575;
    box-shadow: 0 0 10px 3px #757575;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Login Page">*/
/*====================================*/
/*============ LOGIN PAGE ============*/
/*====================================*/

.login-cover {
    margin-top: -20px; /* to negate the navbar margin */
    margin-bottom: 0;
    min-height: calc(100vh - 101px); /* full height - navbar height - navbar border height - footer height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.login-cover .panel-default {
    background: rgba(255, 255, 255, 0.85);
}

.login-cover .container h1,
.login-cover .container h3 {
    color: #fff;
    text-shadow: 3px 3px 5px #000;
}

.login-cover .container h1 > strong {
    font-size: 125%;
}

/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {

    .login-cover .container h1 {
        margin-top: 0;
    }

    .login-cover .container h1 > strong {
        font-size: 90%;
    }
}

/* Extra small devices */
@media (max-width: 767px) {

    .login-cover .container h3 {
        margin-bottom: 30px;
    }

    .login-cover-text-center-xs {
        text-align: center;
    }
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Sign up Page">*/
/*====================================*/
/*=========== SIGN UP PAGE ===========*/
/*====================================*/

.signup-cover {
    margin-top: -20px; /* to negate the navbar margin */
    margin-bottom: 0;
    min-height: calc(100vh - 101px); /* full height - navbar height - navbar border height - footer height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.signup-cover .panel-default {
    background: rgba(255, 255, 255, 0.85);
}

.signup-cover .container h1,
.signup-cover .container h3 {
    color: #fff;
    text-shadow: 3px 3px 5px #000;
}

.signup-cover .container h1 > strong {
    font-size: 125%;
}

.signup-cover .container h1 {
    margin-top: 0;
}

.signup-cover .container h3 {
    margin-bottom: 30px;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Media Queries">*/
/*====================================*/
/*========== MEDIA QUERIES ===========*/
/*====================================*/

/* Super extra large devices  */
@media (min-width: 2000px) {

    /* Home page cover photo styles*/
    .home-cover {
        background-image: url("/images/cover/1/xxlg.jpg");
    }

    /* Login page cover photo styles*/
    .login-cover {
        background-image: url("/images/cover/2/xxlg.jpg");
    }

    /* Sign up up page cover photo styles*/
    .signup-cover {
        background-image: url("/images/cover/3/xxlg.jpg");
    }
}

/**************************************/

/* Extra large devices */
@media (min-width: 1500px) and (max-width: 1999px) {

    /* Home page cover photo styles*/
    .home-cover {
        background-image: url("/images/cover/1/xlg.jpg");
    }

    /* Login page cover photo styles*/
    .login-cover {
        background-image: url("/images/cover/2/xlg.jpg");
    }

    /* Sign up page cover photo styles*/
    .signup-cover {
        background-image: url("/images/cover/4/xlg.jpg");
    }
}

/**************************************/

/* Large devices */
@media (min-width: 1200px) and (max-width: 1499px) {

    /* Home page cover photo styles*/
    .home-cover {
        background-image: url("/images/cover/1/lg.jpg");
    }

    /* Login page cover photo styles*/
    .login-cover {
        background-image: url("/images/cover/2/lg.jpg");
    }

    /* Sign up page cover photo styles*/
    .signup-cover {
        background-image: url("/images/cover/4/lg.jpg");
    }
}

/**************************************/

/* Medium devices */
@media (min-width: 992px) and (max-width: 1199px) {

    /* Home page cover photo styles*/
    .home-cover {
        background-image: url("/images/cover/1/md.jpg");
    }

    /* Login page cover photo styles*/
    .login-cover {
        background-image: url("/images/cover/2/md.jpg");
    }

    /* Sign up page cover photo styles*/
    .signup-cover {
        background-image: url("/images/cover/4/md.jpg");
    }
}

/**************************************/

/* Small devices */
@media (min-width: 768px) and (max-width: 991px) {

    /* Home page cover photo styles*/
    .home-cover {
        background-image: url("/images/cover/1/sm.jpg");
    }

    /* Login page cover photo styles*/
    .login-cover {
        background-image: url("/images/cover/2/sm.jpg");
    }

    /* Sign up page cover photo styles*/
    .signup-cover {
        background-image: url("/images/cover/3/sm.jpg");
    }
}

/**************************************/

/* Extra small devices */
@media (min-width: 480px) and (max-width: 767px) {

    /* Home page cover photo styles*/
    .home-cover {
        background-image: url("/images/cover/1/xs.jpg");
    }

    /* Login page cover photo styles*/
    .login-cover {
        background-image: url("/images/cover/2/xs.jpg");
    }

    /* Sign up page cover photo styles*/
    .signup-cover {
        background-image: url("/images/cover/3/xs.jpg");
    }

    /* Contest info elements */
    .contest-info-time p {
        float: none !important;
        text-align: center;
    }

    .contest-details {
        text-align: center;
    }
}

/**************************************/

/* Super extra small devices */
@media (max-width: 479px) {

    /* Home page cover photo styles*/
    .home-cover {
        background-image: url("/images/cover/1/xxs.jpg");
    }

    /* Login page cover photo styles*/
    .login-cover {
        background-image: url("/images/cover/2/xxs.jpg");
    }

    /* Sign up page cover photo styles*/
    .signup-cover {
        background-image: url("/images/cover/3/xxs.jpg");
    }
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Problems Page">*/
/*====================================*/
/*====== ADD/EDIT CONTEST PAGE =======*/
/*====================================*/
.add-edit-contest-form .control-label, .add-edit-sheet-form .control-label {
    text-align: left;
}

.add-edit-contest-problems-wrapper > .row {
    margin: 0 auto;
}

.invitees-input-div {
    display: none;
}

.autocomplete-input-group {
    width: 100%;
}

.autocomplete-list {
    width: 100%;
    padding-left: 2px;
    margin: 10px 0;
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
    flex-wrap: wrap;
}

.autocomplete-list .element {
    margin: 2px;
    color: white;
}

.autocomplete-list .element [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.autocomplete-list .element [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.autocomplete-list .element [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.autocomplete-list .element [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*====================================*/
/*========== PROBLEMS PAGE ===========*/
/*====================================*/
.problems-panel, .contests-panel, .groups-panel {
    border: 0;
}

.problems-panel-heading, .contests-panel-heading, .groups-panel-heading {
    border: 1px solid #ddd;
}

.problems-panel-body, .contests-panel-body, .groups-panel-body {
    border: 0;
    padding: 0;
    text-align: center;
}

.alert {
    margin-top: 5px;
    text-align: left;
}

.problems-table-head-sortable {
    position: relative;
}

.problems-table-sorting-arrow-asc {
    position: absolute;
    top: 40%;
    right: 10%;
}

.problems-table-sorting-arrow-desc {
    position: absolute;
    top: 25%;
    right: 10%;
}

.problems-table-tag-link {
    font-size: 11px;
    font-weight: 300;
    color: #000;
}

.problems-table-tag-link:not(:last-child)::after {
    content: ',';
    margin-left: -2px;
}

.hidden-filters {
    display: none;
}

.more-filters-button {
    margin-top: 10px;
}

.problems-filters-panel h4 {
    margin-top: 20px;
}

.problems-filters-tags-checkboxes {
    display: inline-block;
}

.problems-tag-badge {
    /*transition: 0.5s;*/
}

.problems-tag-badge:hover {
    transition: 0.1s;
    background: #337ab7;
    border-color: #2e6da4;
}

/*New search*/
#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Contests Page">*/
/*====================================*/
/*========== CONTESTS PAGE ===========*/
/*====================================*/

.contest-table-name-th, .group-table-name-th {
    min-width: 300px;
}

/*</editor-fold>*/

/*<editor-fold desc="Contest Page">*/
/*====================================*/
/*========== CONTEST PAGE ===========*/
/*====================================*/

.contest-info {
    margin: 20px;
}

.contest-details {
    padding-top: 20px;
    padding-left: 30px;
}

.contest-time {
    text-align: left;
    font-size: 50px;
    font-weight: 100;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 3px #eee solid;
}

.centered {
    margin: auto;
    max-width: 700px;
}

.contest-ask-question {
    text-align: center;
    margin: 0 auto;
}

.contest-ask-question-title {
    font-weight: 300;
    display: inline-block;
    font-size: 26px;
    width: 300px;
    color: #757575;
    border-top: 2px solid #eee;
    padding-top: 20px;
    text-align: center;
}

.contest-ask-question form {
    margin-top: 5px;
}

.contest-ask-question input[type=text] {
    margin: 20px auto 10px auto;
    font-size: 22px;
    padding: 23px 10px;
    font-weight: 300;
}

.contest-ask-question select {
    margin: 20px auto 10px auto;
    font-size: 18px;
    /*padding: 23px 10px;*/
    font-weight: 300;
}

.contest-ask-question button {
    margin: 5px auto;
    font-size: 18px;
    padding: auto 20px;
    font-weight: 300;
}

.contest-ask-question textarea {
    margin: 20px auto;
    resize: vertical;
    font-size: 18px;
    font-weight: 300;
}

.question-answer-mode textarea {
    resize: vertical;
    font-size: 18px;
    font-weight: 300;
}

.contest-ask-question .error-msg {
    color: darkred;
}

.questions-table-question-cell {
    min-width: 300px;
    max-width: 400px;
}

.questions-table h4 {
    padding: 0;
    margin: 0;
}

.questions-table p {
    padding-left: 2px;
    margin: 0;
}

.questions-table button {
    width: 90%;
    margin: 5px;
    font-size: 12px;
}

.questions-table .announcement {
    background: rgba(238, 255, 230, 0.38);
}

.problems-reorder-view {
    display: none;
}

td.problems-reorder-view > .fa-bars {
    color: #959595;
    cursor: move;
}

.problems-reorder-view.save {
    margin-bottom: 15px;
}

/*  Contest tabs    */
.content-tabs {
    padding: 0;
}

.content-tabs .nav-tabs {
    border-bottom: 2px solid #DDD;
}

.content-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}

.content-tabs .nav-tabs > li > a {
    border: none;
    color: #666;
}

.content-tabs .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.content-tabs .nav-tabs > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.content-tabs .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.content-tabs .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.content-tabs .tab-pane {
    padding: 15px 0;
}

.content-tabs .tab-content {
    padding: 10px 0;
}

.content-tabs .card {
    background: #FFF none repeat scroll 0% 0%;
    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);*/
    margin-bottom: 30px;
}

/*<editor-fold desc="Group Page">*/
/*====================================*/
/*========== GROUP PAGE ===========*/
/*====================================*/
.action {
    width: 49%;
    display: inline-block;
}

.code-editor-container {
    overflow: hidden;
    height: 60vh;
}

#code-editor, #code-editor-members {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

#problem-solution {
    display: none;
}

@media (max-width: 700px) {
    .action {
        width: 100%;
        display: block;
    }
}

/*</editor-fold>*/

/*<editor-fold desc="Group Page">*/
/*====================================*/
/*========== Sheet PAGE ===========*/
/*====================================*/
.new-sheet-link {
    margin-bottom: 10px;
}

.group-search-icon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.group-search-box {
    display: none;
}

/*</editor-fold>*/

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="VisibilityRadioGroup">*/
/*====================================*/
/*==== Visibility RADIO BUTTONS ======*/
/*====================================*/

.visibility-div ul {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.visibility-div ul li {
    color: #AAAAAA;
    display: inline;
    position: relative;
    float: left;
    width: 49%;
    height: auto;
}

.visibility-div ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.visibility-div ul li label {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 1em;
    padding: 0 25px 0px 40px;
    margin: 8px auto 0 auto;
    height: 20px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.visibility-div ul li:hover label {
    color: #222222;
}

.visibility-div ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 21px;
    width: 21px;
    top: 7px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.visibility-div ul li:hover .check {
    border: 5px solid #222222;
}

.visibility-div ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 7px;
    width: 7px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.visibility-div input[type=radio]:checked ~ .check {
    border: 5px solid #0D964B;
}

.visibility-div input[type=radio]:checked ~ .check::before {
    background: #0D964B;
}

.visibility-div input[type=radio]:checked ~ label {
    color: #0D964B;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Errors Page">*/
/*====================================*/
/*=========== ERRORS PAGE ============*/
/*====================================*/

.error-code {
    font-size: 200px;
    color: #932700;
}

.error-text {
    color: #932700;
    margin-top: 20px;
    font-size: 18px;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Profile Page">*/
/*====================================*/
/*========== PROFILE PAGE ===========*/
/*====================================*/

.custom-panel {
    min-height: 450;
    max-height: 500;
}

.hide-input {
    display: none;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}

/**************************************/
/*</editor-fold>*/

/*<editor-fold desc="Blogs Page">*/
/*====================================*/
/*========== Blogs PAGE ===========*/
/*====================================*/

.new_post_link {
    text-decoration: none;
    color: white;
}

.new_post_link:hover {
    text-decoration: none;
    color: white;
}

.new-post-text-area {
    resize: none;
}

.new_post_label {
    display: inline-block;
    text-align: justify;
}

.post_small_paragraph {
    word-wrap: break-word;
    font-size: medium;
}

.post_paragraph {
    word-wrap: break-word;
    font-size: medium;
}

/**************************************/
/*</editor-fold>*/
