/*====================================*/
/*========== GLOBAL STYLES ===========*/
/*====================================*/

html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
.space-wrapper {
    min-height: 100%;
    margin-bottom: -70px; /* negative value of footer height */
    padding-bottom: 70px; /* footer height + needed padding */
}
.flex-center {
    display: flex;
    align-items: center;
}
/**************************************/

/* Navigation bar styles */
.navbar-default {
    /*background-color: #f8f8f8;*/
    /*border-color: #e7e7e7;*/
    /*color: #777;*/
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #e7e7e7;
    color: #555;
}
.navbar-default .navbar-nav > .active > a {
    background-color: #f8f8f8;
    color: #777;
    /*padding-top: 5px;*/
    margin-top: -5px;
    border-bottom: 5px solid #e7e7e7;
}
/**************************************/

/* Footer section styles */
footer {
    height: 70px;
    background-color: #393E41;
    border-top: 1px solid #25282A;
    color: #CDCCCC;
}
/**************************************/






/*====================================*/
/*============ HOME PAGE =============*/
/*====================================*/

/* Cover photo styles*/
.jumbotron {
    margin-top: -20px;
    min-height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}
.jumbotron-search-form {
    margin-top: 60px;
}
/**************************************/

/* Features styles*/
@media (min-width: 992px) {     /* Medium devices and above */
    .feature-item {
        display: flex;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .feature-item .feature-content {

    }
}
@media (max-width: 991px) {     /* Small devices and below */
    .feature-item {

    }
    .feature-item .feature-content {
        padding-bottom: 30px;
        text-align: center;
    }
}
/**************************************/

/* Quotes styles */
.quotes-section {
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.carousel-indicators li {
    border-color: #2e6da4;
}
.carousel-indicators li.active {
    border-color: #2e6da4;
    background-color: #337ab7;
}
.item {
    margin-top: 50px;
    margin-bottom: 100px;
}
.item > img {
    width: 150px;
    height: 150px;
}
/**************************************/

/* Sponsors styles */
.sponsors-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #eeeeee;
}
.sponsors-section h2 {
    margin-bottom: 60px;
}
.sponsors-section img {
    max-width: 150px;
    max-height: 150px;
}
/**************************************/






/*====================================*/
/*========== MEDIA QUERIES ===========*/
/*====================================*/

/* Super extra large devices only */
@media (min-width: 2000px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/xxlg.jpg");
    }
}
/**************************************/

/* Extra large devices only */
@media (min-width: 1500px) and (max-width: 1999px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/xlg.jpg");
    }
}
/**************************************/

/* Large devices only */
@media (min-width: 1200px) and (max-width: 1499px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/lg.jpg");
    }
}
/**************************************/

/* Medium devices only */
@media (min-width: 992px) and (max-width: 1199px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/md.jpg");
    }
}
/**************************************/

/* Small devices only */
@media (min-width: 768px) and (max-width: 991px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/sm.jpg");
    }
}
/**************************************/

/* Extra small devices only */
@media (min-width: 480px) and (max-width: 767px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/xs.jpg");
    }
}
/**************************************/

/* Super extra small devices Only */
@media (max-width: 479px) {

    /* Home page cover photo styles*/
    .jumbotron {
        background-image: url("/images/cover/1/xxs.jpg");
    }
}